
# Database ans secret configurations
appsettings.Development.json
# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user


# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg
.nuget/
nuget.exe

# Misc
*.log
*.sql
*.sqlite
.env
appsettings.Production.json

# EF Core migrations
Migrations/

# Hangfire
App_Data/